<template>
  <div class="home">
    <Navbar />
    <div class="paket">
      <v-content>
        <v-container class="fill-height ma-5" fluid>
          <v-row align="center" justify="center">
            <v-col>
              <div class="package">
                <v-simple-table>
                  <template v-slot:default>
                    <thead>
                      <tr>
                        <th class="text-left">#</th>
                        <th class="text-left">Nama</th>
                        <th class="text-left">Email</th>
                        <th class="text-left">Telephone</th>
                        <th class="text-left">Jumlah</th>
                        <th class="text-left">Tanggal</th>
                        <th class="text-left">Jam</th>
                        <th class="text-left">Request</th>
                        <th class="text-left">Paket</th>
                        <th class="text-left">Status</th>
                        <th class="text-left">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(booking, index) in bookings" :key="index">
                        <td>{{ index + 1 }}</td>
                        <td>{{ booking.nama_pemesan }}</td>
                        <td>{{ booking.email }}</td>
                        <td>{{ booking.telephone }}</td>
                        <td>{{ booking.jumlah_pengunjung }}</td>
                        <td>{{ booking.tanggal_pesan }}</td>
                        <td>{{ booking.jam_pesan }}</td>
                        <td>{{ booking.request_pesanan }}</td>
                        <td>{{ booking.namaPaket }}</td>
                        <td>{{ booking.status }}</td>

                        <td>
                          <v-btn
                            color="primary"
                            fab
                            x-small
                            dark
                            class="my-2"
                            @click="editBooking(booking)"
                          >
                            <v-icon>mdi-pencil</v-icon>
                          </v-btn>
                        </td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
              </div>
            </v-col>
          </v-row>
        </v-container>
      </v-content>

      <!-- ##### Modal Form ##### -->
      <v-dialog v-model="mForm" persistent max-width="500px">
        <v-card>
          <v-card-title> Status Pesanan</v-card-title>
          <v-card-text>
            <v-form ref="form">
              <v-text-field
                label="Email Customer"
                required
                readonly
                v-model="formData.email"
                color="#7d3d80"
              ></v-text-field>
              <v-text-field
                label="Nama Kasir"
                required
                :rules="namaRules"
                v-model="formData.name"
                color="#7d3d80"
              ></v-text-field>
              <v-select
                :items="select"
                label="Select Status"
                v-model="formData.status"
                item-value="text"
              ></v-select>
              <v-textarea
                label="Keterangan"
                required
                :rules="keteranganRules"
                color="#7d3d80"
                v-model="formData.content"
                style="margin-bottom: -30px"
              ></v-textarea>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" text @click="dialogClose"> Close </v-btn>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="confirmFunc()"> Save </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Navbar from "../../components/admin/Navbar";

export default {
  name: "booking",
  components: {
    Navbar,
  },
  data() {
    return {
      mForm: false,
      bookings: [],
      formData: {
        id: null,
        name: "",
        content: "",
        status: "",
        email: "",
        paket_id: 0,
      },
      select: [{ text: "Terima" }, { text: "Pending" }],

      namaRules: [(v) => !!v || "Nama is required"],
      keteranganRules: [(v) => !!v || "Keterangan is required"],
    };
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      axios({
        method: "get",
        url: `api/bookings`,
        headers: {
          Authorization: "Bearer " + localStorage.getItem("token"),
          "Content-Type": "Application/JSON",
        },
      }).then((response) => {
        this.bookings = response.data.data;
      });
    },
    editBooking(booking) {
      if (typeof booking !== "undefined") {
        this.formData = booking;
        this.mForm = true;
        this.referedId = booking.id;
      }
    },
    formDataFunc() {
      const formDataRaw = new FormData();
      formDataRaw.append("status", this.formData.status);
      formDataRaw.append("name", this.formData.name);
      formDataRaw.append("content", this.formData.content);
      formDataRaw.append("email", this.formData.email);
      formDataRaw.append("paket_id", this.formData.paket_id);

      return formDataRaw;
    },
    confirmFunc() {
      if (this.$refs.form.validate()) {
        const formDataFin = this.formDataFunc();
        const headers = {
          Authorization: "Bearer " + localStorage.getItem("token"),
          "Content-Type": "application/json",
        };
        formDataFin.append("_method", "put");
        axios
          .post(`api/bookings/${this.referedId}`, formDataFin, {
            headers: headers,
          })
          .then(this.initialize());
        this.mForm = false;
      } else {
        console.log("ada yang kosong");
      }
    },
    dialogClose() {
      this.mForm = false;
      this.$refs.form.resetValidation();
    }
  },
};
</script>

<style scoped>
.btn-add {
  position: absolute;
  bottom: 5%;
  right: 3%;
  transform: translate(5%, 3%);
}
</style>