<template>
  <div class="home">
    <Navbar />
    <div class="paket">
      <v-content>
        <v-container class="fill-height ma-5" fluid>
          <v-row align="center" justify="center">
            <v-col>
              <div class="package">
                <v-simple-table>
                  <template v-slot:default>
                    <thead>
                      <tr>
                        <th class="text-left">#</th>
                        <th class="text-left">Image Preview</th>
                        <th class="text-left">Nama</th>
                        <th class="text-left">Harga</th>
                        <th class="text-left">Jam Batas Paket</th>
                        <th class="text-left">Menu Makanan</th>
                        <th class="text-left">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(paket, index) in packages" :key="index">
                        <td>{{ index + 1 }}</td>
                        <td>
                          <img
                            :src="`storage/${paket.image}`"
                            class="img-paket"
                          />
                        </td>
                        <td>{{ paket.nama_paket }}</td>
                        <td>{{ convertToRupiah(paket.harga_paket) }}</td>
                        <td>
                          {{
                            paket.jam_buka_paket + " - " + paket.jam_tutup_paket
                          }}
                        </td>
                        <td>{{ paket.makanan.join(", ") }}</td>
                        <td>
                          <v-btn
                            color="success"
                            fab
                            depressed
                            x-small
                            dark
                            @click="getDetailPaket(paket)"
                          >
                            <v-icon>mdi-open-in-new</v-icon>
                          </v-btn>
                          <v-btn
                            color="primary"
                            fab
                            depressed
                            x-small
                            dark
                            @click="editPackage(paket)"
                          >
                            <v-icon>mdi-pencil</v-icon>
                          </v-btn>
                          <v-btn
                            color="red"
                            fab
                            depressed
                            x-small
                            dark
                            @click="deletePackage(paket.id)"
                          >
                            <v-icon>mdi-delete</v-icon>
                          </v-btn>
                        </td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
              </div>
            </v-col>
          </v-row>
        </v-container>
      </v-content>

      <!-- ##### Modal View Paket ##### -->
      <v-dialog v-model="mView" persistent max-width="500">
        <v-card class="mx-auto">
          <v-img
            class="white--text align-end"
            height="300"
            gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
            :src="`storage/${mViewData.image}`"
          >
            <v-card-title class="text-uppercase">{{
              mViewData.nama_paket
            }}</v-card-title>
            <v-card-subtitle class="text-white">
              {{ mViewData.makanan.join(", ") }}
            </v-card-subtitle>
          </v-img>

          <div>
            <v-card-subtitle class="float-left">
              {{ mViewData.jam_buka_paket + " - " + mViewData.jam_tutup_paket }}
            </v-card-subtitle>
            <p class="m-3 float-right txt-price">
              {{ convertToRupiah(mViewData.harga_paket) }}
            </p>
          </div>

          <div class="clear-both"></div>

          <v-card-text class="text--primary">
            <div>{{ mViewData.keterangan_paket }}</div>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="grey" text @click="mView = false"> Back </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- ##### Modal Form ##### -->
      <v-dialog v-model="mForm" persistent max-width="600px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="#7d3d80"
            fab
            dark
            bottom
            left
            style="position: fixed"
            v-bind="attrs"
            v-on="on"
            class="btn-add"
            @click="createPackage"
          >
            <v-icon dark> mdi-plus </v-icon>
          </v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text class="p-3">
            <v-container>
              <v-form ref="form">
                <v-row>
                  <v-col
                    cols="12"
                    v-for="(attachment, index) in attachments"
                    :key="attachment.model"
                  >
                    <v-btn
                      color="purple lighten-3 white--text"
                      class="my-3"
                      @click="uploadImage(index, attachment.model)"
                      >Upload</v-btn
                    >
                    <div id="preview" :data-identification="attachment.model">
                      <img
                        v-if="checkImage(attachment.model)"
                        :src="showImage(attachment.model)"
                        class="my-3"
                        :id="attachment.model"
                      />
                    </div>
                    <p
                      class="red--text"
                      style="text-align: center"
                      v-if="checkImageError(attachment.model)"
                    >
                      {{ getImageError(attachment.model) }}
                    </p>
                    <image-uploader
                      :quality="0.9"
                      :preview="false"
                      outputFormat="verbose"
                      ref="attachment"
                      doNotResize="['gif', 'svg']"
                      accept="image/*"
                      @input="onChangeUploadImage"
                      style="display: none"
                    ></image-uploader>
                  </v-col>
                  <v-col cols="12">
                    <v-select
                      v-model="formData.makanan_id"
                      :items="foods"
                      :menu-props="{ maxHeight: '400' }"
                      item-text="nama_makanan"
                      item-value="id"
                      label="Select"
                      multiple
                      color="#7d3d80"
                      hint="Pick your food"
                      persistent-hint
                    ></v-select>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      label="Name"
                      required
                      :rules="namaRules"
                      v-model="formData.nama_paket"
                      color="#7d3d80"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-text-field
                      label="Harga"
                      type="number"
                      required
                      :rules="hargaRules"
                      v-model="formData.harga_paket"
                      color="#7d3d80"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-menu
                      ref="menu"
                      v-model="menu"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      :return-value.sync="formData.jam_buka_paket"
                      :rules="jambukaRules"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="formData.jam_buka_paket"
                          label="Jam Buka"
                          prepend-icon="mdi-clock-time-four-outline"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                          color="#7d3d80"
                        ></v-text-field>
                      </template>
                      <v-time-picker
                        v-if="menu"
                        format="24hr"
                        v-model="formData.jam_buka_paket"
                        full-width
                        @click:minute="$refs.menu.save(formData.jam_buka_paket)"
                      ></v-time-picker>
                    </v-menu>
                  </v-col>

                  <v-col cols="12" md="4">
                    <v-menu
                      ref="menu2"
                      v-model="menu2"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      :return-value.sync="formData.jam_tutup_paket"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="formData.jam_tutup_paket"
                          label="Jam Tutup"
                          prepend-icon="mdi-clock-time-four-outline"
                          :rules="jamtutupRules"
                          readonly
                          color="#7d3d80"
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-time-picker
                        v-if="menu2"
                        format="24hr"
                        v-model="formData.jam_tutup_paket"
                        full-width
                        @click:minute="
                          $refs.menu2.save(formData.jam_tutup_paket)
                        "
                      ></v-time-picker>
                    </v-menu>
                  </v-col>

                  <v-col cols="12" md="4"> </v-col>
                  <v-col cols="12">
                    <v-textarea
                      label="Description"
                      required
                      :rules="keteranganRules"
                      v-model="formData.keterangan_paket"
                      color="#7d3d80"
                      style="margin-bottom: -30px"
                    ></v-textarea>
                  </v-col>
                </v-row>
              </v-form>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialogClose">
              Close
            </v-btn>
            <v-btn color="success" dark @click="formClose(condition)">
              Save
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- ##### Modal Delete ##### -->
      <v-dialog v-model="mDelete" persistent max-width="420">
        <v-card>
          <v-card-title class="headline"
            >Are you sure delete this package?</v-card-title
          >
          <v-card-text
            >The package you deleted will be deketed permanently</v-card-text
          >
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="grey darken-1" text @click="mDelete = false"
              >Cancel</v-btn
            >
            <v-btn color="red darken-1" text @click="deleteFunc">Delete</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Navbar from "../../components/admin/Navbar";
import ImageUploader from "vue-image-upload-resize";

export default {
  name: "home-admin",
  components: {
    Navbar,
    ImageUploader,
  },
  data() {
    return {
      url: null,
      menu: false,
      menu2: false,

      foods: [],

      mView: false,
      mViewData: {
        id: null,
        image: "",
        nama_paket: "",
        harga_paket: "",
        jam_buka_paket: "",
        jam_tutup_paket: "",
        keterangan_paket: "",
        makanan: [],
      },
      mForm: false,
      packages: [],
      condition: 0,
      referedId: 0,
      formTitle: "",
      mDelete: false,
      imageErrors: [],
      selectedImageType: "",
      formData: {
        id: null,
        image: "",
        nama_paket: "",
        harga_paket: "",
        jam_buka_paket: "",
        jam_tutup_paket: "",
        keterangan_paket: "",
        makanan_id: [],
      },
      files: {
        image: "",
      },
      urls: {
        url_image: "",
      },
      attachments: [
        {
          model: "image",
        },
      ],

      // Validation Rules
      namaRules: [(v) => !!v || "Nama is required"],
      hargaRules: [(v) => !!v || "Harga is required"],
      jambukaRules: [(v) => !!v || "Jam Buka is required"],
      jamtutupRules: [(v) => !!v || "Jam Tutup is required"],
      keteranganRules: [(v) => !!v || "Keterangan is required"],
    };
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.getFoods();
      axios({
        method: "get",
        url: `api/pakets`,
        headers: {
          Authorization: "Bearer " + localStorage.getItem("token"),
          "Content-Type": "Application/JSON",
        },
      }).then((response) => {
        this.packages = response.data.data;
      });
    },
    getFoods() {
      axios({
        method: "get",
        url: `api/foods`,
        headers: {
          Authorization: "Bearer " + localStorage.getItem("token"),
          "Content-Type": "Application/JSON",
        },
      }).then((response) => {
        this.foods = response.data.data;
      });
    },
    getDetailPaket(value) {
      this.mView = true;
      this.mViewData = value;
    },
    editPackage(paket) {
      if (typeof paket !== "undefined") {
        this.urls.url_image = `storage/${paket.image}`;
        this.formTitle = "Edit Paket";
        this.formData = paket;
        this.mForm = true;
        this.condition = 2;
        this.referedId = paket.id;
        this.getFoods();
      }
    },
    deletePackage(id) {
      this.referedId = id;
      this.mDelete = true;
    },
    formDataFunc() {
      const formDataRaw = new FormData();
      formDataRaw.append("nama_paket", this.formData.nama_paket);
      formDataRaw.append("harga_paket", this.formData.harga_paket);
      formDataRaw.append("jam_buka_paket", this.formData.jam_buka_paket);
      formDataRaw.append("jam_tutup_paket", this.formData.jam_tutup_paket);
      formDataRaw.append("keterangan_paket", this.formData.keterangan_paket);
      formDataRaw.append(
        "makanan_id",
        JSON.stringify(this.formData.makanan_id)
      );
      if (this.files.image) formDataRaw.append("image", this.files.image);

      return formDataRaw;
    },
    formClose(condition) {
      this.validateImage();
      if (this.imageErrors.length > 0) return;
      if (this.$refs.form.validate() && this.urls.url_image) {
        const formDataFin = this.formDataFunc();
        const headers = {
          Authorization: "Bearer " + localStorage.getItem("token"),
          "Content-Type": "application/json",
        };
        switch (condition) {
          case 0:
            break;
          case 1:
            axios
              .post("api/pakets", formDataFin, {
                headers: headers,
              })
              .then(this.initialize());
            break;
          case 2:
            formDataFin.append("_method", "put");
            axios
              .post(`api/pakets/${this.referedId}`, formDataFin, {
                headers: headers,
              })
              .then(this.initialize());
            break;
          default:
            break;
        }
        this.mForm = false;
        for (var key of Object.keys(this.formData)) {
          this.formData[key] = "";
          console.log(this.formData[key]);
        }
      } else {
        console.log("ada yang kosong");
      }
    },
    deleteFunc() {
      this.mDelete = false;
      const headers = {
        Authorization: "Bearer " + localStorage.getItem("token"),
        "Content-Type": "application/json",
      };
      axios
        .delete(`api/pakets/${this.referedId}`, {
          headers: headers,
        })
        .then(this.initialize());
    },
    createPackage() {
      this.formTitle = "Create New Paket";
      this.condition = 1;
    },
    dialogClose() {
      this.mForm = false;
      this.$refs.form.resetValidation();
      this.formData = {
        id: null,
        image: "",
        nama_paket: "",
        harga_paket: "",
        jam_buka_paket: "",
        jam_tutup_paket: "",
        keterangan_paket: "",
        makanan_id: [],
      };
        this.urls.url_image = "";
      
    },
  },
};
</script>

<style scoped>
.btn-add {
  position: absolute;
  bottom: 5%;
  right: 3%;
  transform: translate(5%, 3%);
}
#preview img {
  max-width: 50%;
}
.img-paket {
  height: 150%;
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.preview-image {
  width: 70%;
}
.txt-price {
  font-weight: 600;
  color: #ce93d8;
}
.clear-both {
  clear: both;
}
.avatar {
  margin-top: -15vh;
  margin-right: 12vh;
}
@media only screen and (max-width: 400px) {
  .avatar {
    margin-top: -10vh;
    margin-right: 5vh;
  }
}
</style>