<template>
  <div class="home">
    <Navbar />
    <div class="paket">
      <v-content>
        <v-container class="fill-height ma-5" fluid>
          <v-row align="center" justify="center">
            <v-col>
              <div class="package">
                <v-simple-table>
                  <template v-slot:default>
                    <thead>
                      <tr>
                        <th class="text-left">#</th>
                        <th class="text-left">Image Preview</th>
                        <th class="text-left">Nama</th>
                        <th class="text-left">Harga</th>
                        <th class="text-left">Descripsi</th>
                        <th class="text-left">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(food, index) in foods" :key="index">
                        <td>{{ index + 1 }}</td>
                        <td>
                          <img
                            :src="`storage/${food.image}`"
                            class="img-food"
                          />
                        </td>
                        <td>{{ food.nama_makanan }}</td>
                        <td>{{ convertToRupiah(food.harga_makanan) }}</td>
                        <td>{{ food.keterangan_makanan }}</td>
                        <td>
                          <v-btn
                            color="primary"
                            fab
                            x-small
                            dark
                            @click="editPackage(food)"
                          >
                            <v-icon>mdi-pencil</v-icon>
                          </v-btn>
                          <v-btn
                            color="red"
                            fab
                            x-small
                            dark
                            @click="deletePackage(food.id)"
                          >
                            <v-icon>mdi-delete</v-icon>
                          </v-btn>
                        </td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
              </div>
            </v-col>
          </v-row>
        </v-container>
      </v-content>

      <!-- ##### Modal Form ##### -->
      <v-dialog v-model="mForm" persistent max-width="600px">
        <template v-slot:activator="{ on, attrs }">
          <v-fab-transition>
            <v-btn
              v-show="!hidden"
              color="#7d3d80"
              fab
              dark
              bottom
              left
              style="position:fixed"
              v-bind="attrs"
              v-on="on"
              class="btn-add"
              @click="createPackage"
            >
              <v-icon dark> mdi-plus </v-icon>
            </v-btn>
          </v-fab-transition>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text class="p-3">
            <v-container>
              <v-form ref="form">
                <v-row>
                  <v-col
                    cols="12"
                    v-for="(attachment, index) in attachments"
                    :key="attachment.model"
                  >
                    <v-btn
                      color="purple lighten-3 white--text"
                      class="my-3"
                      @click="uploadImage(index, attachment.model)"
                      >Upload</v-btn
                    >
                    <div id="preview" :data-identification="attachment.model">
                      <img
                        v-if="checkImage(attachment.model)"
                        :src="showImage(attachment.model)"
                        class="my-3"
                        :id="attachment.model"
                      />
                    </div>
                    <p
                      class="red--text"
                      style="text-align: center"
                      v-if="checkImageError(attachment.model)"
                    >
                      {{ getImageError(attachment.model) }}
                    </p>
                    <image-uploader
                      :quality="0.9"
                      :preview="false"
                      outputFormat="verbose"
                      ref="attachment"
                      doNotResize="['gif', 'svg']"
                      accept="image/*"
                      @input="onChangeUploadImage"
                      style="display: none"
                    ></image-uploader>
                  </v-col>
                  <v-col cols="12">
                    <v-text-field
                      label="Name"
                      required
                      :rules="namaRules"
                      v-model="formData.nama_makanan"
                      color="#7d3d80"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-text-field
                      label="Harga"
                      type="number"
                      required
                      :rules="hargaRules"
                      v-model="formData.harga_makanan"
                      color="#7d3d80"
                    ></v-text-field>
                  </v-col>

                  <v-col cols="12" md="4"> </v-col>
                  <v-col cols="12">
                    <v-textarea
                      label="Description"
                      required
                      :rules="keteranganRules"
                      v-model="formData.keterangan_makanan"
                      color="#7d3d80"
                      style="margin-bottom: -30px"
                    ></v-textarea>
                  </v-col>
                </v-row>
              </v-form>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialogClose">
              Close
            </v-btn>
            <v-btn color="#169e90" dark @click="formClose(condition)">
              Save
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- ##### Modal Delete ##### -->
      <v-dialog v-model="mDelete" persistent max-width="420">
        <v-card>
          <v-card-title class="headline"
            >Are you sure delete this food?</v-card-title
          >
          <v-card-text
            >The food you deleted will be deketed permanently</v-card-text
          >
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="grey darken-1" text @click="mDelete = false"
              >Cancel</v-btn
            >
            <v-btn color="red darken-1" text @click="deleteFunc">Delete</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Navbar from "../../components/admin/Navbar";
import ImageUploader from "vue-image-upload-resize";

export default {
  name: "home-admin",
  components: {
    Navbar,
    ImageUploader,
  },
  data() {
    return {
      url: null,
      hidden: false,

      mForm: false,
      foods: [],
      condition: 0,
      referedId: 0,
      formTitle: "",
      mDelete: false,
      imageErrors: [],
      selectedImageType: "",
      formData: {
        id: null,
        image: "",
        nama_makanan: "",
        harga_makanan: "",
        keterangan_makanan: "",
      },
      files: {
        image: "",
      },
      urls: {
        url_image: "",
      },
      attachments: [
        {
          model: "image",
        },
      ],

      // Validation Rules
      namaRules: [(v) => !!v || "Nama is required"],
      hargaRules: [(v) => !!v || "Harga is required"],
      keteranganRules: [(v) => !!v || "Keterangan is required"],
    };
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      axios({
        method: "get",
        url: `api/foods`,
        headers: {
          Authorization: "Bearer " + localStorage.getItem("token"),
          "Content-Type": "Application/JSON",
        },
      }).then((response) => {
        this.foods = response.data.data;
      });
    },
    editPackage(food) {
      if (typeof food !== "undefined") {
        this.urls.url_image = `storage/${food.image}`;
        this.formTitle = "Edit Food";
        this.formData = food;
        this.mForm = true;
        this.condition = 2;
        this.referedId = food.id;
      }
    },
    deletePackage(id) {
      this.referedId = id;
      this.mDelete = true;
    },
    formDataFunc() {
      const formDataRaw = new FormData();
      formDataRaw.append("nama_makanan", this.formData.nama_makanan);
      formDataRaw.append("harga_makanan", this.formData.harga_makanan);
      formDataRaw.append(
        "keterangan_makanan",
        this.formData.keterangan_makanan
      );
      if (this.files.image) formDataRaw.append("image", this.files.image);

      return formDataRaw;
    },
    formClose(condition) {
      this.validateImage();
      if (this.imageErrors.length > 0) return;
      if (this.$refs.form.validate() && this.urls.url_image) {
        const formDataFin = this.formDataFunc();
        const headers = {
          Authorization: "Bearer " + localStorage.getItem("token"),
          "Content-Type": "application/json",
        };
        switch (condition) {
          case 0:
            break;
          case 1:
            axios
              .post("api/foods", formDataFin, {
                headers: headers,
              })
              .then(this.initialize());
            break;
          case 2:
            formDataFin.append("_method", "put");
            axios
              .post(`api/foods/${this.referedId}`, formDataFin, {
                headers: headers,
              })
              .then(this.initialize());
            break;
          default:
            break;
        }
        this.mForm = false;
        for (var key of Object.keys(this.formData)) {
          this.formData[key] = "";
          console.log(this.formData[key]);
        }
      } else {
        console.log("ada yang kosong");
      }
    },
    deleteFunc() {
      this.mDelete = false;
      const headers = {
        Authorization: "Bearer " + localStorage.getItem("token"),
        "Content-Type": "application/json",
      };
      axios
        .delete(`api/foods/${this.referedId}`, {
          headers: headers,
        })
        .then(this.initialize());
    },
    createPackage() {
      this.formTitle = "Create New Food";
      this.condition = 1;
    },
    dialogClose() {
      this.mForm = false;
    },
  },
};
</script>

<style scoped>
.btn-add {
  position: absolute;
  bottom: 5%;
  right: 3%;
  transform: translate(5%, 3%);
}
#preview img {
  max-width: 50%;
}
.img-food {
  height: 150%;
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
}
</style>