<template>
  <div class="nav">
    <v-app-bar color="#7d3d80" app dense dark>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-spacer></v-spacer>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" app>
      <v-list dense nav class="mt-5">
        <v-list-item-group v-model="model" color="#7d3d80">
          <v-list-item
            v-for="(item, i) in items"
            :key="i"
            route
            :to="item.route"
          >
            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="item.text"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
      <template v-slot:append>
        <div class="pa-2">
          <v-btn block dark color="#7d3d80" @click="logout"> Logout </v-btn>
        </div>
      </template>
    </v-navigation-drawer>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Dashboard",

  data() {
    return {
      drawer: null,
      model: 1,
      items: [],
      btnDropdowns: [{ title: "Logout" }],
    };
  },
  created() {
    this.checkRole();
  },
  methods: {
    async logout() {
      const headers = {
        Authorization: "Bearer " + localStorage.getItem("token"),
        "Content-Type": "application/json",
      };
      document.documentElement.style.overflow = "hidden";
      axios
        .post(`api/logout`, null, { headers: headers })
        .then(() => {
          document.documentElement.style.overflow = "auto";
          localStorage.clear();
          this.$router.push({ name: "login-admin" });
        })
        .catch((err) => {
          this.error = err.response.data.message;
          document.documentElement.style.overflow = "auto";
        });
    },
    checkRole() {
      if (localStorage.getItem("role") == 1) {
        this.items = [
          {
            icon: "mdi-cube",
            text: "Menu Paket",
            route: "/home",
          },
          {
            icon: "mdi-food",
            text: "Makanan Paket",
            route: "/makanan-paket",
          },
          {
            icon: " mdi-book-open",
            text: "Booking",
            route: "/booking",
          },
        ];
      } else {
        this.items = [
          {
            icon: " mdi-book-open",
            text: "Booking",
            route: "/booking",
          },
        ];
      }
    },
  },
};
</script>

<style>
.img-logo {
  margin-left: 50px;
}
</style>