<template>
  <div>
    <!-- ======= Header Section ======= -->
    <Header />
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <Hero />
    <!-- End Hero -->

    <main id="main">
      <!-- ======= Why Us Section ======= -->
      <Package :packages="packages" />
      <!-- End Why Us Section -->

      <!-- ======= Menu Section ======= -->
      <Menu :foods="foods" />
      <!-- End Menu Section -->
      <!-- ======= Whyus Section ======= -->
      <Whyus />
      <!-- End Whyus Section -->
    </main>
    <!-- End #main -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
    <Footer />
  </div>
</template>

<script>
import Header from "../components/Header";
import Hero from "../components/main/Hero";
import Package from "../components/main/Package";
import Menu from "../components/main/Menu";
import Whyus from "../components/main/Whyus";

import Footer from "../components/Footer";

import axios from "axios";
export default {
  name: "home",

  components: {
    Header,
    Hero,
    Package,
    Menu,
    Whyus,
    Footer,
  },

  data: () => ({
    packages: [],
    foods: [],
  }),

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.getPackages();
      this.getFoods();
    },
    getPackages() {
      axios({
        method: "get",
        url: `api/all-packages`,
      }).then((response) => {
        this.packages = response.data.data;
      });
    },
    getFoods() {
      axios({
        method: "get",
        url: `api/all-foods`,
      }).then((response) => {
        this.foods = response.data.data;
      });
    },
  },
};
</script>

<style scoped>
</style>