<template>
  <!-- ======= Book A Table Section ======= -->
  <section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <router-link to="/"
          ><v-icon col6r="#7d4d80" class="my-5"
            >mdi-arrow-left</v-icon
          ></router-link
        >
        <h2>Booking</h2>
        <p>{{ paket.nama_paket }}</p>
      </div>
      <v-form ref="form" data-aos="fade-up" data-aos-delay="100">
        <v-container>
          <v-row>
            <v-col cols="12" sm="6" md="4">
              <v-text-field
                label="Masukan Nama"
                placeholder="Masukan Nama"
                solo
                dense
                required
                :rules="nameRules"
                v-model="formData.nama_pemesan"
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="6" md="4">
              <v-text-field
                label="Masukan Email"
                placeholder="Masukan Email"
                solo
                dense
                required
                :rules="emailRules"
                v-model="formData.email"
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="6" md="4">
              <v-text-field
                label="Masukan Nomor Handphone"
                placeholder="Masukan Nomor Handphone"
                solo
                dense
                required
                :rules="phoneRules"
                v-model="formData.telephone"
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="6" md="4">
              <v-dialog
                ref="dialog"
                v-model="modal"
                :return-value.sync="formData.tanggal_pesan"
                persistent
                width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="formData.tanggal_pesan"
                    label="Masukan Tanggal Booking"
                    prepend-icon="mdi-calendar"
                    readonly
                    required
                    solo
                    dense
                    :rules="dateRules"
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="formData.tanggal_pesan"
                  scrollable
                  :allowed-dates="allowedDates"
                >
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="modal = false">
                    Cancel
                  </v-btn>
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.dialog.save(formData.tanggal_pesan)"
                  >
                    OK
                  </v-btn>
                </v-date-picker>
              </v-dialog>
            </v-col>

            <v-col cols="12" sm="6" md="4">
              <v-dialog
                ref="dialog2"
                v-model="modal2"
                :return-value.sync="formData.jam_pesan"
                persistent
                width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="formData.jam_pesan"
                    label="Masukan Waktu / Jam Booking"
                    prepend-icon="mdi-clock-time-four-outline"
                    readonly
                    solo
                    dense
                    :rules="hourRules"
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker
                  v-if="modal2"
                  v-model="formData.jam_pesan"
                  full-width
                  format="24hr"
                  :min="paket.jam_buka_paket"
                  :max="paket.jam_tutup_paket"
                >
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="modal2 = false">
                    Cancel
                  </v-btn>
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.dialog2.save(formData.jam_pesan)"
                  >
                    OK
                  </v-btn>
                </v-time-picker>
              </v-dialog>
            </v-col>
            <v-col cols="12" sm="6" md="4">
              <v-text-field
                v-model="formData.jumlah_pengunjung"
                required
                type="number"
                label="Masukan Jumlah Orang"
                :rules="visitorsRules"
                append-outer-icon="+"
                @click:append-outer="increment"
                prepend-icon="~"
                @click:prepend="decrement"
                solo
                dense
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-textarea
                solo
                dense
                v-model="formData.request_pesanan"
                required
                :rules="descRules"
                name="input-7-4"
                label="Masukan Descripsi"
              ></v-textarea>
            </v-col>
            <v-btn
              depressed
              class="mx-auto"
              style="width: 20%"
              color="purple"
              dark
              @click="reservasiFunc"
            >
              Send
            </v-btn>
          </v-row>
        </v-container>
      </v-form>

      <!-- ##### Modal Success ##### -->
      <v-dialog v-model="dialog" width="500">
        <v-card>
          <v-card-title class="headline green lighten-2">
            Success send booking
          </v-card-title>

          <v-card-text>
            check your email to see if your booking is accepted or rejected.
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" text to="/"> I accept </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </section>
  <!-- End Book A Table Section -->
</template>

<script>
import axios from "axios";

export default {
  data: () => ({
    // foo: 0,
    // date: null,
    // time: null,
    id: null,
    dialog: false,
    modal2: false,
    modal: false,
    paket: {},
    formData: {
      id: null,
      nama_pemesan: "",
      email: "",
      telephone: "",
      jumlah_pengunjung: "",
      tanggal_pesan: "",
      jam_pesan: "",
      request_pesanan: "",
    },

    // Validation Rules
    nameRules: [(v) => !!v || "Nama is required"],
    emailRules: [
      (v) => !!v || "Mohon isi email",
      (v) => /.+@.+/.test(v) || "Email tidak valid",
    ],
    phoneRules: [(v) => !!v || "Nomer HandPhone is required"],
    dateRules: [(v) => !!v || "Tanggal is required"],
    hourRules: [(v) => !!v || "Jam is required"],
    visitorsRules: [(v) => !!v || "Jumlah Pengunjung is required"],
    descRules: [(v) => !!v || "Keterangan is required"],
  }),
  created() {
    this.id = this.$route.params.id;
    this.detailPackage();
  },
  methods: {
    allowedDates(val) {
      return val >= this.formatDate(new Date(Date.now()));
    },
    formatDate(date) {
      var d = new Date(date),
        month = "" + (d.getMonth() + 1),
        day = "" + d.getDate(),
        year = d.getFullYear();

      if (month.length < 2) month = "0" + month;
      if (day.length < 2) day = "0" + day;

      return [year, month, day].join("-");
    },
    formDataFunc() {
      const formDataRaw = new FormData();
      formDataRaw.append("nama_pemesan", this.formData.nama_pemesan);
      formDataRaw.append("email", this.formData.email);
      formDataRaw.append("telephone", this.formData.telephone);
      formDataRaw.append("jumlah_pengunjung", this.formData.jumlah_pengunjung);
      formDataRaw.append("tanggal_pesan", this.formData.tanggal_pesan);
      formDataRaw.append("jam_pesan", this.formData.jam_pesan);
      formDataRaw.append("request_pesanan", this.formData.request_pesanan);
      formDataRaw.append("paket_id", this.paket.id);
      formDataRaw.append("namaPaket", this.paket.nama_paket);

      return formDataRaw;
    },
    reservasiFunc() {
      if (this.$refs.form.validate()) {
        const formDataFin = this.formDataFunc();
        axios.post("/api/reservasi", formDataFin, {}).then((response) => {
          if (response.data.status == "success") this.dialog = true;
        });
      } else {
        console.log("ada yang kosong");
      }
    },
    detailPackage() {
      axios({
        method: "get",
        url: `/api/detail-package/${this.id}`,
      }).then((response) => {
        this.paket = response.data.data;
      });
    },
    increment() {
      this.formData.jumlah_pengunjung =
        parseInt(this.formData.jumlah_pengunjung, 10) + 1;
    },
    decrement() {
      this.formData.jumlah_pengunjung =
        parseInt(this.formData.jumlah_pengunjung, 10) - 1;
    },
  },
};
</script>