<template>
    <div>
        <v-container>
            <v-row>
                <v-col lg="6" class="mx-auto my-15">
                    <v-img src="https://res.cloudinary.com/alanichsan/image/upload/v1615577720/undraw_page_not_found_su7k_uemaab.svg"></v-img>
                    <h1 class="text-center my-3">Page Not Found</h1>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
export default {
    name : '404',
}
</script>
