<template>
  <div id="footer">
    <v-footer padless >
      <v-card flat tile width="100%" class="text-center" color="#fedfff">
        <div class="container">
          <p class="font-weight-bold h5 my-5">Contact Us :</p>
          <div class="row d-md-block d-none">
            <div class="main d-flex">
              <div class="col-lg-3 d-inline" v-for="(item, i) in items" :key="i">
                <v-btn icon class="d-inline">
                  <v-icon class="d-inline">
                    {{ item.icon }}
                  </v-icon>
                </v-btn>
                <v-card-text>{{ item.text }}</v-card-text>
              </div>
            </div>
          </div>
                    <div class="row d-md-none d-sm-block">
              <div class="col-lg-3" v-for="(item, i) in items" :key="i">
                <v-btn icon class="d-inline">
                  <v-icon class="d-inline">
                    {{ item.icon }}
                  </v-icon>
                </v-btn>
                <v-card-text>{{ item.text }}</v-card-text>
            </div>
          </div>
        </div>

        <v-divider></v-divider>

        <v-card-text>
          {{ new Date().getFullYear() }} — <strong>RPL RUS</strong>
        </v-card-text>
      </v-card>
    </v-footer>
  </div>
</template>

<script>
export default {
  data: () => ({
    items: [
      { icon: "mdi-google-maps", text: "Jl. Jendral Sudirman Kudus" },
      { icon: "mdi-email", text: "0291-2914-168" },
      { icon: "mdi-phone", text: "renstaurant@gmail.com" },
      { icon: "mdi-instagram", text: "@renstaurant" },
    ],
  }),
};
</script>