<template>
  <div>
    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
      <div
        class="container d-flex justify-content-center justify-content-md-between"
      >
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-phone d-flex align-items-center"
            ><span>0291-2914-168</span></i
          >
          <i class="bi bi-clock d-flex align-items-center ms-4"
            ><span>Mon-Sat: 11AM - 23PM</span></i
          >
        </div>
      </div>
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-lg-between"
      >
          <i class="bi bi-list mobile-nav-toggle"></i>
        <!-- <a class="navbar-brand ml-5 ml-lg-0" to="/">
    <img src="https://res.cloudinary.com/alanichsan/image/upload/v1616010011/logo_k7bpoj.png" width="70" class="text-white">
  </a> -->

        <nav id="navbar" class="navbar order-last order-lg-0 ms-0 ms-lg-auto">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#menu">Menu</a></li>
            <li><a class="nav-link scrollto" href="#package">Paket</a></li>
            <li><a class="nav-link scrollto" href="#footer">Contact</a></li>
          </ul>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->
  </div>
</template>

<style scoped>
.scrollto{
  color: #fff;
  font-weight: bold;
}
.navbar-mobile ul li a {
  color: #7d3d80;
}
a{
  font-size: 18px;
  font-family: 'Noto Serif TC', serif;
}
</style>