<template>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <!-- <div
      class="container position-relative text-center text-lg-start"
      data-aos="zoom-in"
      data-aos-delay="100"
    >
      <div class="row">
        <div class="my-auto">
          
        </div>
        </div>
    </div> -->
    <v-container>
      <v-row class="text-lg-start d-none d-md-flex d-sm-flex" data-aos="zoom-in" data-aos-delay="100">
        <div>
          <h1>
            <span
              >Welcome</span
            >
          </h1>
          <p class="my-5 h5">Temukan Restoran dan Makanan Lezat</p>
        </div>
      </v-row>

      <v-row data-aos="zoom-in" data-aos-delay="100" class="d-flex d-sm-none">
        <v-col cols="12" md="6">
          <h1>
            <span
              >Welcome</span
            >
          </h1>
          <h2 class="my-5">Temukan Restoran dan Makanan Lezat</h2>
        </v-col>
          <v-col cols="12" md="6">
          <img src="/assets/img/hero.png" alt="Image" class="img-fluid" />
        </v-col>
      </v-row>

    </v-container>
  </section>
  <!-- End Hero -->
</template>