<template>
  <!-- ======= Menu Section ======= -->
  <section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Menu</h2>
        <p>Jelajahi Makanan Kami</p>
      </div>

      <div class="row">
        <div class="col-lg-4 menu-item" v-for="(food, i) in foods" :key="i">
          <v-card
            class="mx-auto"
            elevation="24"
            shaped
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <v-img
              class="white--text align-end"
              height="300"
              :src="`storage/${food.image}`"
            >
              <div class="overlay p-3">
                <p class="text-capitalize" v-text="food.nama_makanan"></p>
                <span
                  v-text="convertToRupiah(food.harga_makanan)"
                  class="h4"
                ></span>
                <p
                  class="text-white text-truncate"
                  v-text="food.keterangan_makanan"
                ></p>
              </div>
            </v-img>
          </v-card>
        </div>
      </div>
    </div>
  </section>
  <!-- End Menu Section -->
</template>

<script>
export default {
  props: {
    foods: {
      type: Array,
      default() {
        return [];
      },
    },
  },
};
</script>

<style scoped>
.overlay {
  max-height: 200px;
  background-color: rgba(255, 0, 255, 0.178);
}
</style>
