<template>
  <!-- ======= Package Us Section ======= -->
  <section id="package" class="paket">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Paket</h2>
        <p>Beberapa Paket Menu Teratas</p>
      </div>

      <div class="row">
        <div class="col-lg-4 mx-auto" v-for="(paket, index) in packages" :key="index">
          <v-card data-aos="zoom-in" data-aos-delay="100" elevation="10">
            <v-img height="250" :src="`storage/${paket.image}`"></v-img>
            <div class="mx-4 my-5 d-flex">
              <span v-text="paket.nama_paket" class="h3"></span>
              <v-spacer></v-spacer>
              <div>
                <p class="h5" v-text="convertToRupiah(paket.harga_paket)"></p>
                <span class="float-right perorang">/Orang</span>
              </div>
            </div>
            <v-chip
              class="mx-4"
              color="purple"
              label
              link
              outlined
              v-text="`${paket.jam_buka_paket} - ${paket.jam_tutup_paket}`"
            ></v-chip>
            <v-card-text v-text="paket.keterangan_paket"> </v-card-text>

            <v-divider></v-divider>

            <v-subheader>Menu</v-subheader>
            <v-chip-group class="mx-2">
              <v-chip v-for="(tag, i) in paket.makanan" :key="i">
                {{ tag }}
              </v-chip>
            </v-chip-group>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="#7d3d80"
                class="text-light my-3 mr-3"
                :to="`/reservation/${paket.id}`"
              >
                Booking
              </v-btn>
            </v-card-actions>
          </v-card>
        </div>
      </div>
    </div>
  </section>
  <!-- End Package Us Section -->
</template>

<script>
export default {
  props: {
    packages: {
      type: Array,
      default() {
        return [];
      },
    },
  },
};
</script>

<style scoped>
*{
  font-family: 'Noto Serif TC', serif;
}
.perorang {
  margin-top: -20px;
  color: darkorange;
  font-size: 13px;
}
</style>