<template>
  <!-- ======= Menu Section ======= -->
  <section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Cara</h2>
        <p>Pelayanan Kami</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="d-md-flex d-none">
          <div class="col-lg-8 d-md-block">
            <div class="d-flex">
              <div class="col-lg-6">
                <v-card color="#ffeef8" class="pa-5">
                  <v-img src="assets/img/paketcard.png" />
                </v-card>
              </div>
              <div class="col-lg-6 my-auto pa-5">
                <h2>Pilih Paket</h2>
                <v-icon color="#7d3d80" class="my-3">mdi-arrow-right</v-icon>
                <p class="text-capitalize">
                  Ada banyak paket yang ditawarkan disini. jadi, pilih Paket
                  yang kamu butuhkan Sekarang!
                </p>
              </div>
            </div>
            <div class="d-flex">
              <div class="col-lg-6 my-auto pa-5">
                <h2>Makan!!</h2>
                <v-divider></v-divider>
                <p class="text-capitalize">
                  Data akan dikirimkan oleh admin melalui email, pembayaran akan
                  dilakukan ditempat, dan jangan lupa datang tepat waktu!
                </p>
              </div>
              <div class="col-lg-6">
                <v-card color="#ffeef8" height="100%" class="pa-5">
                  <v-img src="assets/img/food.png" />
                </v-card>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <v-card color="#ffeef8" style="height: 100%" class="pa-5">
              <v-img src="assets/img/form.png" />
              <v-card-text style="margin-top: 100px">
                <h2>Isi Form</h2>
                <v-icon color="#7d3d80" class="my-3">mdi-arrow-left</v-icon>
                <p class="text-capitalize">
                  Mengisi form yang sudah disediakan di website. seperti
                  nama,tanggal, waktu, dll
                </p>
              </v-card-text>
            </v-card>
          </div>
        </div>
        <div class="col-lg-8 d-md-none d-sm-block">
          <div class="col-lg-6">
            <v-card color="#ffeef8" class="pa-5">
              <v-img src="assets/img/paketcard.png" />
            </v-card>
          </div>
          <div class="col-lg-6 my-auto pa-5">
            <h2>Pilih Paket</h2>
            <v-icon color="#7d3d80" class="my-3">mdi-arrow-down</v-icon>
            <p class="text-capitalize">
              Ada banyak paket yang ditawarkan disini. jadi, pilih Paket yang
              kamu butuhkan Sekarang!
            </p>
          </div>
          <div class="col-lg-4">
            <v-card color="#ffeef8" style="height: 100%" class="pa-5">
              <v-img src="assets/img/form.png" />
              <v-card-text style="margin-top: 100px">
                <h2>Isi Form</h2>
                <v-icon color="#7d3d80" class="my-3">mdi-arrow-down</v-icon>
                <p class="text-capitalize">
                  Mengisi form yang sudah disediakan di website. seperti
                  nama,tanggal, waktu, dll
                </p>
              </v-card-text>
            </v-card>
          </div>
          <div class="col-lg-6 my-auto pa-5">
            <h2>Makan!!</h2>
            <v-icon color="#7d3d80" class="my-3">mdi-arrow-down</v-icon>
            <p class="text-capitalize">
              Data akan dikirimkan oleh admin melalui email, pembayaran akan
              dilakukan ditempat, dan jangan lupa datang tepat waktu!
            </p>
          </div>
          <div class="col-lg-6">
            <v-card color="#ffeef8" height="100%" class="pa-5">
              <v-img src="assets/img/food.png" />
            </v-card>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Menu Section -->
</template>