<template>
  <v-app>
    <div class="app">
        <router-view></router-view>
    </div>
  </v-app>
</template>

<script>

export default {
  name: "App",

  components: {},

  data: () => ({}),
};
</script>

<style>
  /* body {
    font-family: sans-serif;
    margin: 15%;
  } */
</style>